<h2><%= @work.title %></h2>
<h3><%= @work.creator %></h3>
<h3><%= @work.publication_year %></h3>

<p><%= link_to "Back to media ranks", root_path %></p>

<%= link_to 'Edit', edit_work_path(@work.id) %> 
<%= link_to 'Delete', edit_work_path(@work.id) %> 