<% if flash[:success] %>
    <div class="success"><%= flash[:success] %></div>
  <% end %>

<tbody>
<h1>Media Spotlight: <%= Vote.spotlight.title %></h1>
<h2>Top Movies</h2>

<ul>
  <% Vote.top_ten("movie").each do |work| %>
    <li><%= link_to "#{work.title}", work_path(work) %> <span> By </span><%= work.creator %><span> </span><%= work.votes.count %> <span> votes </span></li>
  <% end %>
</ul>

<h2>Top Books</h2>

<ul>
  <% Vote.top_ten("books").each do |work| %>
    <li><%= link_to "#{work.title}", work_path(work) %> <span> By </span><%= work.creator %><span> </span><%= work.votes.count %> <span> votes </span></li>
  <% end %>
</ul>

<h2>Top Albums</h2>

<ul>
  <% Vote.top_ten("album").each do |work| %>
    <li><%= link_to "#{work.title}", work_path(work) %> <span> By </span><%= work.creator %><span> </span><%= work.votes.count %> <span> votes </span></li>
  <% end %>
</ul>
